/* Global Styles */
body {
    font-family: 'JetBrains Mono', monospace;
    background-color: #000000;
    margin: 0;
    transition: background-color 0.3s ease;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

canvas {
    display: block; /* Prevents extra space below the canvas */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* Global cursor style */
body, body * {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="32" width="32"><circle cx="16" cy="16" r="10" fill="%2300FF00" stroke="black" stroke-width="2"/></svg>'), auto;
}


.threejs-container {
    position: relative;
    top: 0;
    left: 0;
    z-index: 0; /* Base layer */
    width: 100%;
    height: 100vh; /* Adjust if necessary */
}

/* Toggle Button */
#toggleBackground {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    z-index: 10;
    background: none;
    border: none;
    color: white;
}

#toggleBackground .fas {
    font-size: 1.5em;
}

.bone-white-background {
    background-color: #fff5ee; /* Bone white color */
}

.black-background {
    background-color: #000000; /* Ensuring default black color is set here for clarity */
}
 

/* Title Container */
.titleContainer {
    font-size: 2em;
    position: absolute;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    white-space: nowrap;
    color: #00ff08cc;
    z-index: 3;
}

.cursor {
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    background-color: rgba(0, 255, 8, 0.8);
    border-radius: 50%;
    animation: blink 1s infinite alternate;
    vertical-align: middle;
    margin-bottom: 0.2em;
}

@keyframes blink {
    from { opacity: 1; }
    to { opacity: 0; }
}

/* Navigation Links */
.contentLinks {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 50px;
    z-index: 3;
}

.contentLinks a {
    color: rgba(0, 255, 8, 0.8);
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgba(21, 19, 19, 0.6);
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.contentLinks a:hover {
    background-color: rgba(0, 255, 8, 0.8);
}

.about-me {
    position: relative; /* It follows the normal document flow */
    z-index: 2; /* Below the title and navigation bar */
    margin-top: 300px; /* Adjust this value to fit below the navigation bar */
    background-color: rgba(0, 255, 8, 0.5); /* Semi-transparent green background */
    padding: 20px;
    overflow: auto;
    color: #ffffff; /* Text color, choose a color that is readable on the semi-transparent background */
}

  
 
  @keyframes wave {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(14deg); }
    100% { transform: rotate(0deg); }
 }
 
 .wave {
    display: inline-block;
    animation: wave 1s infinite;
 }
 
 html {
    scroll-behavior: smooth;
 }
 
 .profile-image {
    width: 250px; /* Adjust the width as needed */
    height: 250px; /* Adjust the height as needed */
    border-radius: 50%; /* This will make it round */
    object-fit: cover; /* This will ensure the image covers the area without stretching */
    display: block;
    margin: 0 auto; /* This centers the image in the section */
}

.site-footer {
    text-align: center;
    padding: 20px 0;
    background-color: #222;
    color: #fff;
    font-size: 0.9em;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
